packages: [
  "atom-beautify"
  "auto-detect-indentation"
  "build"
  "build-cargo"
  "busy"
  "change-case"
  "file-icons"
  "go-debug"
  "go-outline"
  "go-plus"
  "go-signature-statusbar"
  "graphviz-preview"
  "haskell-ghc-mod"
  "hyperclick"
  "ide-haskell"
  "indentation-indicator"
  "language-apache"
  "language-crontab"
  "language-diff"
  "language-docker"
  "language-dot"
  "language-ejs"
  "language-haskell"
  "language-hocon"
  "language-rust"
  "language-scala"
  "linter"
  "linter-jshint"
  "linter-jsonlint"
  "linter-ruby"
  "linter-rust"
  "linter-scalac"
  "linter-shellcheck"
  "package-sync"
  "prettier-atom"
  "ruby-block"
  "rustfmt"
  "sort-lines"
]
