packages: [
  "atom-beautify"
  "atom-mermaid"
  "auto-detect-indentation"
  "change-case"
  "haskell-ghc-mod"
  "ide-haskell"
  "indentation-indicator"
  "language-crontab"
  "language-diff"
  "language-docker"
  "language-ejs"
  "language-haskell"
  "language-hocon"
  "language-scala"
  "linter"
  "linter-jshint"
  "linter-scalac"
  "linter-shellcheck"
  "package-sync"
  "save-session"
  "sort-lines"
]
